.menu-sidebar {
  position: relative;
  min-height: 100vh;
  /* box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35); */
}

.tag-area {
  margin-bottom: 10px;
}
/* nz-content {
  margin: 24px;
} */

.inner-content {
  padding: 10px;
  background: #fff;
  height: 100%;
}
